@charset "utf-8";
/* CSS Document */
img{
	width:100%;
}

div{
	
background: rgba(33, 63, 154, .5);
	display:block;
}
	
/*
#container{
	width: 900px;
	margin:auto;
}
*/
.sectionlinks{
	position:fixed;
	top: 0;
	margin: auto;
	list-style: none;
	color: white;
	background: black;
}
.sectionlinks li{
	display: inline-block;
	padding: 0;
	margin: 0;
}
.sectionlinks a{
	display: block;
}
.fullscreen{
	min-height: 480px;
	background: yellow;
}
.header{
	position: relative;
	height: 200px;		
	overflow: hidden; 
	border-bottom: 1px solid white;
}
.header-bg{	
	
	height: 230px;
	background:red url("../img/salad");
	/*
-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
  	-ms-filter: blur(5px);
  	filter: blur(5px);
}
*/
	