@charset "utf-8";
/* CSS Document */


img{
	width:100%;
}
body{
	background-color: #ddcf65;
}

/*
div{
	
background: rgba(33, 63, 154, .5);
	display:block;
}
*/
	
/*
#container{
	width: 900px;
	margin:auto;
}
*/

h2 {
	font-size: 42px !important;
	text-transform: uppercase;
	width: auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-shadow: white 2px 2px 0;
	color: #000;
}

.sectionlinks{
	position:fixed;
	top: 0;
	left: 50%;
	width: 15%;
	margin-left: -7.5% ;
	list-style: none;
	color: white;
	background: black;
	z-index: 100;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
}
.sectionlinks li{
	display: inline-block;
	padding: 0;
	margin-right: 10px;
}
.sectionlinks a{
	display: block;
}
.home{
	position: relative;
	background-color: blue;
	
}

.glow {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: red;
	border-radius: 100px;
	background-size:cover;
	-webkit-filter: blur(100px);
	}

.title{
	top: 50%;
	left:0;
	width:100%;
	position: absolute;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 80px;
	font-weight: 700;
	text-shadow: white 4px 4px 0, red 7px 4px 40px ;
	-webkit-transform: translateY(-50%);
	text-align: center;
	z-index: 100;
}
.linksocial{
	text-align: center;
}
.linksocial li {
	list-style: none;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.linksocial a{
	display: block;
	width: 82px;
	height: 82px;
	background-image: url(../img/socialmediasprite.png);
	background-repeat: no-repeat;
}
.twitter {
	background-position-y: -286px;
}
.facebook {
	background-position-y: 0;
}
.instagram {
	background-position-y: -144px;
}

.fullscreen{
	min-height: 480px;
}
.header{
	position: relative;
	height: 200px;		
	overflow: hidden; 
	border-bottom: 1px solid white;
}
#menu{
	top:0;
}
.menu{
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
}
.menu li{
	list-style: none;
	color: white;
}
.menu-section{
	display: block;
/* 	border: 1px solid black; */
	/* width: 500px; */
	min-height:500px;
	overflow: auto;
	background-size: cover; 
	padding: 10px 20px;
}

.menu-list {
	padding-left: 0;
}

.menu-list columns{
	margin-top: 0;
}
.menu-heading{
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.menu-item{
	position: relative;
	text-align: left;
}

@media screen and (max-width: 767px) {
	.menu-list {
		width: 100% !important;
	}
}

.dish-heading {
	white-space: nowrap;
	margin: 0;
	width: 90%;
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}
.dish-desc {
	border-bottom: white 1px dotted;
	position: relative;
	margin: 0;
	top: -7px;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
}
.dish-price{
	position: absolute;
	text-align: right;
	margin: 0;
	bottom: 3px;
	right: 0;
	font-size: 24px;
	font-weight: 300;
}
#beersnacks, #salthouse, #butcherscuts {
	background-image: url('../img/snacks.jpg');
}

 #salads, #hearth-vegetables {
	background-image: url('../img/salad.jpg');
}

#sausages, #varieties, #sandwiches {
	background-image: url('../img/sausage.jpg');
}
.info p {
	font-size: 20px;
}	